@use '@styles/variables' as *;

.page {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
.container {
  width: 95%;
  will-change: contents;
  height: 90%;
  min-height: 100vh;
  position: relative;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.container.about-page,
.container.skills-page,
.container.projects-page,
.container.experience-page,
.container.contact-page {

  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: $primary-color;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 20px;
    left: -10px;
  }

  p {
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 1s;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translateY(-10%);
    width: 60%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    transition: all 0.2s ease-out; /* Add smooth transition */
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

.container.about-page,
.container.skills-page,
.container.projects-page,
.container.experience-page,
.container.contact-page,
.home-page {
  .text-zone {
    transition: all 0.2s ease-out; /* Add smooth transition */
  }
}

/* Override for About page text-content in light and dark mode */
body.light-mode 
.about-page
.skills-page
.projects-page
.experience-page
.contact-page
.text-zone .text-content p {
  color: $text-primary-light !important;
}

body.dark-mode 
.about-page 
.skills-page
.projects-page
.experience-page
.contact-page
.text-zone .text-content p {
  color: $text-primary-dark !important;
}
