@use '@styles/variables' as *;

.inline-flag {
  display: inline-flex;
  align-items: center;

  img {
    width: 30px;
    height: auto;
  }
}

.timeline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-content {
  width: 50%;
}

body.light-mode .about-page .text-zone .text-content p {
  color: $text-primary-light !important;
}

body.dark-mode .about-page .text-zone .text-content,
body.dark-mode .about-page .text-zone .text-content p {
  color: #fff !important;
}