@use '@styles/variables' as *;

.inline-flag {
  display: inline-flex;
  align-items: center;

  img {
    width: 30px;
    height: auto;
  }
}

.timeline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-content {
  width: 50%;
}

body.light-mode .text-content {
  color: $text-primary-light;
  background-color: $body-bg-light;
}

body.dark-mode .text-content {
  // color: $text-primary-dark;
  // background-color: $body-bg-dark;
}