@use '@styles/variables' as *;

.container.home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: ($sidebar-width)*0.8;
    box-sizing: border-box;
}

.text-zone {
    flex: 1 1 60%;
    padding: 2rem 0;
    position: static;
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 0;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    
    img.logo {
        margin-left: 0;
        margin-right: -15px;
        vertical-align: text-bottom;
        width: 6rem;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1s;
        filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(247deg) brightness(93%) contrast(94%);
    }
}

h2 {
    color: #8d8d8d;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: sans-serif;
    letter-spacing: 3px;
}

body.light-mode .home-page .text-zone h1 {
    color: $text-primary-light;
}
body.light-mode .home-page .text-zone h2 {
    color: $text-secondary-light;
}
body.dark-mode .home-page .text-zone h1 {
    color: $text-primary-dark;
}
body.dark-mode .home-page .text-zone h2 {
    color: $text-secondary-dark;
}